#prepare data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!git clone https://github.com/minhquan6203/source-code-dsaa-2023

In [ ]:
import shutil
import os
if not os.path.exists('data'):
  os.makedirs('data')
shutil.copy('/content/drive/MyDrive/DSAAA_2023/data/train_new.csv','data/data.csv')
shutil.copy('/content/drive/MyDrive/DSAAA_2023/data/test_new.csv','data/test.csv')

'data/test.csv'

In [ ]:
import pandas as pd
data=pd.read_csv('/content/data/data.csv')
test=pd.read_csv('/content/data/test.csv')

In [ ]:
data.head()

,Unnamed: 0.1,Unnamed: 0,id,id1,id2,id1_text,id2_text,Label
0,0,0,1,9202,9202,map russia kemerovo oblast 200803svg map russi...,map russia kemerovo oblast 200803svg map russi...,1
1,1,1,2,410411,460254,speciesbox genus podabrus fayi authority john ...,rathwell unincorporated urban centre manitoba ...,0
2,2,2,3,211858,312074,mountain unaksan photo photocaption elevationm...,following mountains korea,1
3,3,3,6,253901,504325,rail railroadname chattahoochee bay railroad m...,settlement tressler bank nativename nativename...,0
4,4,4,7,415071,63239,missing value,anna jens 17661815 dutch slave coffee plantati...,0

In [ ]:
from numpy.random import RandomState
rng = RandomState(1234)
train = data.sample(frac=0.8, random_state=rng)
print(train.shape[0])
val = data.loc[~data.index.isin(train.index)]
train.to_csv('data/train.csv',index=False)
val.to_csv('data/dev.csv',index=False)

758586

#install packages

In [ ]:
!pip install yacs
!pip install SentencePiece
!pip install transformers datasets
!pip install --upgrade accelerate
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')

In [ ]:
import os
os.environ["TOKENIZERS_PARALLELISM"] = "false"

#training or predict

In [ ]:
!python ./src_code/MAT/src/main.py --config ./src_code/MAT/config/config_mat.yaml

2023-06-28 16:12:03.675859: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Downloading and preparing dataset csv/default to /root/.cache/huggingface/datasets/csv/default-b1e138bea89dfd4b/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d...
Downloading data files: 100% 2/2 [00:00<00:00, 11214.72it/s]
Extracting data files: 100% 2/2 [00:00<00:00, 1335.98it/s]
Dataset csv downloaded and prepared to /root/.cache/huggingface/datasets/csv/default-b1e138bea89dfd4b/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d. Subsequent calls will reuse this data.
100% 2/2 [00:00<00:00, 33.26it/s]
INFO:root:Loaded processed sentiment Dataset
INFO:root:Created data collator
Downloading (…)okenizer_config.json: 100% 28.0/28.0 [00:00<00:00, 161kB/s]
Downloading (…)lve/main/config.json: 100% 570/570 [00:00<00:00, 3.26MB/s]
Downloading (…)solve/main/vocab.txt: 100% 232k/232k [00:00<00:00, 507kB/s]
Downloading (…)/main/tokenizer.json: 100% 466k/466k [00:00<00:00, 143MB/s]
Downloading model.safetensors: 100% 440M/440M [00:01<00:00, 348MB/s]
INFO:root:Initialized model for training
INFO:root:Training started...
frist time training
{'loss': 0.0048, 'learning_rate': 2.999800088585869e-05, 'epoch': 1.0}